* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bgColor {
  background-color: #104f8f !important;
}

.mainColor {
  color: #104f8f;
}


.borderMainColor {
  border-color: #104f8f !important;
}

.cText{
  font-size: .85rem;
  font-weight: 400;
  color: #fff;
}

.Sbtn {
  background-color: white;
  /* border-color: black ; */
  min-width: 10%;
  position: fixed;
  bottom: 3%;
  right: 1%;
  box-shadow: 2px 2px black;
  justify-content: center;
  border-radius: 20px;
  color: #8BB28C;
  font-weight: 700;
  font-size: 1.2rem;
}

.Sbtn:hover {
  background-color: #000000;
  min-width: 10%;
  position: fixed;
  bottom: 2.9%;
  right: 0.9%;
  box-shadow: 0px 0px black;
  justify-content: center;
  border-radius: 20px;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.2rem;
}

.Sbtn:active {
  background-color: #ffffff !important;
  min-width: 10%;
  position: fixed;
  bottom: 2.9%;
  right: 0.9%;
  box-shadow: 0px 0px black;
  justify-content: center;
  border-radius: 20px;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.2rem;
}

.emptyR {
  visibility: hidden;
  background-color: #fff;
  height: 12.5vw;
}

.emptyR2 {
  visibility: hidden;
  background-color: #fff;
  height: 0.5vw;
}

.emptyR3 {
  visibility: hidden;
  background-color: #fff;
  height: 5vw;
}

.emptyR0 {
  visibility: hidden;
  background-color: #fff;
  height: 2vw;
}

.bigText {
  font-size: 3em;
  font-weight: 400;
}

.bigText2 {
  font-size: 2.5em;
  font-weight: 700;
  color: #fff;
}

.biggerText {
  font-size: 5em;
  font-weight: 400;
}

.biggerText2 {
  color: #fff;
  font-size: 6rem;
  font-weight: 900;
  letter-spacing: .7rem;
  padding: 10% 0;
}

.boldText {
  font-size: 1em;
  font-weight: 600;
  text-shadow: .5px .5px #00000077;
}

.fw500 {
  font-weight: 500;
}

.fw600 {
  font-weight: 600;
}

.fw900 {
  font-weight: 900;
}



.divider {
  height: 0.2em;
  background-color: #fff;
  margin-top: 2.5em;
  width: 45vw;
}


.bgImg {
  background-image: url("../img/banner.jpg");
  max-width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.magz1 {
  background-image: url("../img/foundation1.png");
  max-width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  background-position: center;
  position: relative;
}

.magz2 {
  background-image: url("../img/foundation2.png");
  max-width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  background-position: center;
  position: relative;
}

.magz3 {
  background-image: url("../img/foundation3.png");
  max-width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  background-position: center;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  border-radius: 20px;
  transition: .5s ease;
  background-color: #00000098;
}

.magz:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 1.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.subtitle1 {
  color: #fff;
  font-size: 2.3rem;
  font-weight: 400;
  letter-spacing: .2rem;
  padding-bottom: 10%;
  padding-top: 1%;
}

.gallery {
  padding: 0 10% !important;
}

.noRadius{
  border-radius: 0%;
  border: 0;
}

.vContainer {
  background-color: #fff;
  padding: 0% 0% .8%;
  margin: 3% 0 0% !important;
  /* border-radius: 10px; */
  font-size: 1rem;
  font-weight: 600;
}

.telName{
  align-self: end !important;
  font-size: .7rem;
  padding: 0 0 .5% 1%;
}

.Fwidth{
  width: 25%;
}

.noPadding {
  padding: 0 !important;
  max-width: 95%;
  object-fit: cover;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
}



/* animate */

.animate__animated.animate__fadeInUp.wow {
  /* --animate-delay: .5s; */
  --animate-duration: 500ms;
}


@media screen and (max-width: 1400px) {

  .gallery {
    padding: 0 7% !important;
  }

  .vContainer {
    background-color: #fff;
    padding: 0% 0% .8%;
    margin: 2% 0 0%;
    /* border-radius: 10px; */
    font-size: 1rem;
    font-weight: 600;
  }

  .divider {
    height: 0.2em;
    background-color: #fff;
    margin-top: 2.5em;
    width: 35vw;
  }

  .biggerText2{
    font-size: 5rem;
  }

  .subtitle1{
    font-size: 2rem;
  }
}


@media screen and (max-width: 1200px) {

  .gallery {
    padding: 0 4% !important;
  }

  .vContainer {
    background-color: #ffffff;
    padding: 0% 0% .8%;
    margin: 1% 0 0%;
    /* border-radius: 10px; */
    font-size: 1rem;
    font-weight: 600;
  }

  .Qpadding {
    padding: 0 .5% !important;
  }

  .divider {
    height: 0.2em;
    background-color: #fff;
    margin-top: 2.5em;
    width: 20vw;
  }

  .biggerText2{
    font-size: 4rem;
  }

  .subtitle1{
    font-size: 1.5rem;
  }

  .sArticle{
    font-size: 1rem;
  }

  .bigText2{
    font-size: 2rem;
  }
}

@media screen and (max-width: 992px) {

  .bigText {
    font-size: 2em;
    font-weight: 400;
  }

  .biggerText {
    font-size: 4em;
    font-weight: 400;
  }

  .divider {
    height: 0.2em;
    background-color: #fff;
    margin-top: 1.5em;
    width: 30vw;
  }

  .Qpadding {
    padding: 0 0% !important;
  }

  .navBurger {
    background-color: #fff;
    margin: 0;
    padding: 1% 1%;
    border: #000000 2px solid;
  }

  .noBorder {
    border-width: 0 !important;
    border-style: none !important;
    padding: 1% 0 0 0 !important;
  }

  .Qtext {
    font-size: 2rem !important;
    padding: 0.8rem !important;
  }

  .mText{
    font-size: 1.5rem !important;
  }

  .gallery {
    padding: 0 2%;
  }

  .biggerText2{
    font-size: 3rem;
  }

  .subtitle1{
    font-size: 1.2rem;
  }

  .sArticle{
    font-size: .8rem;
  }

  .bigText2{
    font-size: 1.5rem;
  }

  .tLine {
    display: none;
  }

  .cText{
    text-align: center !important;
  }

  .tM{
    margin: 0 0 5% !important;
  }
}

@media screen and (max-width: 768px) {

  .Qtext {
    font-size: 1.5rem !important;
    padding: 0.5rem !important;
  }

  .bigText {
    font-size: 1.7em;
    font-weight: 400;
  }

  .biggerText {
    font-size: 3em;
    font-weight: 400;
  }

  .divider {
    height: 0.1em;
    background-color: #fff;
    margin-top: 1.2em;
    width: 10vw;
  }

  .mText{
    font-size: 1rem !important;
  }
  
  .fText {
    font-size: 1.2rem !important;
    padding: 0.5rem !important;
  }

  svg{
    width: 70% !important;
    height: 70% !important;
  }

  .Fpadding{
    padding: 1% 1%;
  }

  .instruction{
    font-size: 1rem !important;
  }
  .copyright{
    font-size: .8rem !important;
  }

  .gallery {
    padding: 0 0% !important;
  }

  .biggerText2{
    font-size: 2.5rem;
    letter-spacing: .35rem;
  }

  .subtitle1{
    font-size: 1.1rem;
  }

  .bigText2{
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 576px) {

  .bigText {
    font-size: 1.5em;
    font-weight: 400;
  }

  .biggerText {
    font-size: 2.5em;
    font-weight: 400;
  }

  .divider {
    height: 0.2em;
    background-color: #fff;
    margin-top: 1.5em;
    width: 50vw;
    display: none;
  }

  html,body {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .mText{
    font-size: .8rem !important;
  }

  .Qtext {
    font-size: 1.2rem !important;
    padding: 0.5rem !important;
  }

  .fText {
    font-size: 1rem !important;
    padding: 0.2rem !important;
  }

  .biggerText2{
    font-size: 1.5rem;
  }

  .subtitle1{
    font-size: 1rem;
  }

  .sContainer2{
    margin: 1%;
  }
}